$color-font: #fff;
$color-bg-default: rgb(0, 194, 136);
$font-default: Arial, Helvetica, sans-serif;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $font-default;
    margin: 0;
}

h1 {
    color: $color-font;
    text-align: center;
    width: 100%;
}

#imagens {
    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 100%;
        margin: 0 auto;
        
        img {
            height: 200px;
            width: auto;
            margin: 5px;
            object-fit: fill;
            object-position: bottom;
            border: 1px solid #333;

            &:hover {
                opacity: 75%;
                border-color: rgb(154, 255, 167);
            }
        }

    }

}
header {
    background-color: $color-bg-default;
    width: 100vw;
    position: relative;
    height: 50vh;
    overflow: hidden;

    h1 {
        margin-top: 4rem;
        position: relative;
        z-index: 9;
    }
}

.square {
    bottom: 0;
    position: absolute;
    left: 0;
    right: 0;
    width: 110%;

    .square-01 {
        animation: square1 3s ease-in-out infinite alternate;
        
    }

    .square-02 {
        animation: square2 3s ease-in-out infinite alternate;
    }

    .square-03 {
        animation: dash1 3s cubic-bezier(0, 1.23, 1, 0.11) infinite alternate;
        stroke-dasharray: 150;
        stroke: #fff;
        stroke-width: 3px;
    }
}

@keyframes square1 {
    from {
        transform: translateX(-50px);
    }
}

@keyframes square2 {
    from {
        transform: translateX(-100px);
    }
}

@keyframes square3 {
    from {
        transform: translateX(-20px);
    }
}

@keyframes dash1 {
    from {
       stroke-dashoffset: 2000;
    }
    to {
        stroke-dashoffset: 0;
    }
}

@import 'player';